body{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

header{
  background-color: #2B1C40;
  height: 110px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header>.menu>a:hover{
  color: #FF00BF;
}

form{
  background-color: white;
  bottom: 45px;
  margin-left: 60%;
  padding: 4% 3% 4% 4%;
  position: absolute;
  width: 33%;
}

input{
  border: none;
  font-size: 12pt;
}

button{
  background-color: #FF00BF;
  border: none;
  border-radius: 5%;
  color: white;
  font-size: 12pt;
  padding: 3% 5% 3% 5%;
}

footer{
  background-color: #333447;
  padding-top: 60px;
}

.uppercase{
  text-transform: uppercase;
}

.font-monserrat{
  font-family: 'Montserrat', sans-serif;
}

.text-white{
  color: white;
}

.font-bold{
  font-weight: bold;
}

.clear{
  clear: both;
}

.image{
  display: inline-block;
  margin: 35px 0px 0px 70px;
  vertical-align: top;
  width: 55px;
}

.menu{
  display: inline-block;
  float: right;
  font-size: 12pt;
  margin: 45px 143px 0px 0px;
}

.menu>a{
  margin-left: 39px;
}

.login{
  border: 1px solid #6D6E7C;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.pag1>.hero{
  height: auto;
  position: relative;
  top: 5px;
  width: 100%;
}

.title{
  color: #352384;
  font-size: 28pt;
  margin: 0%;
}

.p{
  color: #352384;
  font-size: 10pt;
}

.sing{
  color: #728099;
  font-size: 12pt;
  margin-left: 10px;
  text-decoration: underline;
}

.text-minimo{
  color: #728099;
  font-size: 7pt;
  padding-top: 20px;
}

.text-pink{
  color:#FF00BF;
}

.text-pink:hover{
  color: #76278F;
  text-decoration: underline;
}

.pag2{
  background: linear-gradient(#76278F, #2B1E66);
  padding-top: 70px;
  height: 550px;
  width: 100%;
}

.text-service{
  padding-left: 100px;
  padding-bottom: 60px;
  width: 40%;
}

.title-service{
  font-size: 20pt;
}

.service{
  font-size: 11pt;
}

.service-box{
  padding-top: 20px;
}

.pag2>.phone{
  float: right;
  height: 470px;
  margin: 0px 150px 70px 0px;
  width: auto;
}

.video{
  height: 505px;
  padding-top: 0px;
}

.video>iframe{
  border: none;
  float: right;
  height: 505px;
  width: 895px;
}

.video2>iframe{
  border: none;
  float: left;
  height: 505px;
  width: 895px;
}

.video-watch{
  font-size: 8pt;
  margin: 0%;
}

.video-title{
  font-size: 20pt;
  margin-top: 0;
}

.text-video{
  font-size: 12pt;
}

.text-complete{
  padding-left: 4%;
  padding-top: 30px;
}

.text-complete-right{
  padding-left: 71%;
  padding-top: 30px;
}

.columns{
  padding-left: 10%;
}

.footer-column{
  float: left;
  margin-right: 11%;
  width: 10%;
}

.titles{
  margin: 0;
}

.footer-column>.footer-menu>a{
  display: block;
  font-size: 12pt;
  margin-top: 35px;
}

.pink:hover{
  color: #FF00BF;
}

.images-button{
  display: block;
  margin-bottom: 30px;
  width: 135px;
}

.buttons-right{
  float: right;
  margin-right: 20%;
  margin-top: 20px;
}

.social{
  margin-left: 20%;
  padding-bottom: 30px;
  text-align: center;
  width: 60%;
}

.social-media{
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  font-size: 10pt;
  margin-bottom: 20px;
  margin-top: 100px;
  padding: 10px;
}

.privacy{
  font-size: 12pt;
  padding-top: 30px;
}

.box{
  border: 1px solid red;
}
